.metadata
/**
.metadata/
test-output/
*.zip
*.log
.xmi

bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
